extends layout

block content
  div.container-fluid.shuang11
    div.row
        div.col-md-4.col-xs-12.col-md-offset-4
            h1= title
            form.bs-example.bs-example-form(role="form",_lpchecked="1")
                div.input-group.input-group-lg
                    span.input-group-addon @
                    input.form-control(type="text",placeholder="Username")
                div.input-group.input-group-lg
                    span.input-group-addon @
                    input.form-control(type="text",placeholder="Username")


