doctype html
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://cdn.staticfile.org/twitter-bootstrap/3.3.0/css/bootstrap.min.css')
    script(src='http://cdn.staticfile.org/jquery/2.1.1-rc2/jquery.min.js')
  body
    block content
