doctype html
html(ng-app="myApp")
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(property="wb:webmaster",content="3d954c39ce738677")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://cdn.staticfile.org/twitter-bootstrap/3.3.0/css/bootstrap.min.css')

  body(ng-controller="FinanceController")
    block content
