.shuang11 h1 {
    margin-bottom: 30px;
}
.shuang11 .input-group{
    margin-bottom: 20px;
}
.shuang11 .vs {
    margin-bottom: 20px;
}
.shuang11 .action {
    margin-top: 30px;
}

.shuang11 .img-box {
    padding-bottom: 30px;
}
#ckepop {
    padding: 0 0 30px;
}
